In [2]:
# from paper https://www.nature.com/articles/s41467-020-17222-4
# from github https://github.com/JeschekLab/uASPIre
# ml github here: https://github.com/BorgwardtLab/SAPIENs

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
seq_train = np.load('raw/rbs_sequences_train_validation.npy')
seq_train = list(seq_train)
print(len(seq_train))

out_train = np.load('raw/rbs_targets_train_validation.npy')
out_train = list(out_train)
print(len(out_train))

train = pd.DataFrame()
train['seq'] = seq_train
train['out'] = out_train
train.to_csv('clean/hollerer_rbs_train.csv', index = False)
train

275849
275849

                      seq       out
0       AGATGTGGAGGGAGCGA  0.764483
1       AAAAGCGTGGAGATTTT  0.696517
2       CAAAGCGTGGAGATTCT  0.549834
3       AAAAGCGAGGAGTTACT  0.856013
4       CTAAGCGTGGAGATACT  0.749364
...                   ...       ...
275844  TTTTTTACCAACCTAGA  0.010468
275845  TTTTTTACCATAGCTAC  0.046439
275846  TTTTTTCAGTTTTAAGT  0.190806
275847  TTTTTTCTTTAGACTTA  0.000000
275848  TTTTTTTAGACGAACCA  0.023278

[275849 rows x 2 columns]

In [4]:
seq_test = np.load('raw/rbs_sequences_test.npy')
seq_test = list(seq_test)
print(len(seq_test))

out_test = np.load('raw/rbs_targets_test.npy')
out_test = list(out_test)
print(len(out_test))

test = pd.DataFrame()
test['seq'] = seq_test
test['out'] = out_test
test.to_csv('clean/hollerer_rbs_test.csv', index = False)
test

27654
27654

                     seq       out
0      AAAAAACAGTCTAGATT  0.253483
1      AAAAAACGATGAGTCGG  0.103218
2      AAAAAAGAAAAAAACAT  0.290360
3      AAAAAAGAAAACTTCCC  0.300495
4      AAAAAAGAGAAAAATCT  0.599296
...                  ...       ...
27649  TTTTTTAGGAAAATCCA  0.289377
27650  TTTTTTGGACGCGCAGA  0.079312
27651  TTTTTTTATACAAACAG  0.046690
27652  TTTTTTTGCCGATGTAT  0.144028
27653  TTTTTTTTTAATGATGT  0.056577

[27654 rows x 2 columns]

In [5]:
smalltrain = train.iloc[0:2000,:]
smalltrain.to_csv('clean/hollerer_rbs_smalltrain.csv', index = False)
smalltrain

                    seq       out
0     AGATGTGGAGGGAGCGA  0.764483
1     AAAAGCGTGGAGATTTT  0.696517
2     CAAAGCGTGGAGATTCT  0.549834
3     AAAAGCGAGGAGTTACT  0.856013
4     CTAAGCGTGGAGATACT  0.749364
...                 ...       ...
1995  AGGGGCGGGGAGTTACT  0.675908
1996  ATAAGAGAGGGGTTTCT  0.879170
1997  ATGAGCGTGGAGTTTCT  0.667043
1998  CGCAGGGGGACGAACAC  0.739899
1999  GACTTATTCACCTGCGC  0.009597

[2000 rows x 2 columns]