In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# from AAV dataset on https://github.com/J-SNACKKB/FLIP/blob/main/splits/aav/splits.zip

In [ ]:
seqs = pd.read_csv('raw/flip/sampled.csv')
train = seqs[seqs['set'] == 'train']
train = train[['sequence', 'target']]
display(train)
print(len(train))

test = seqs[seqs['set'] == 'test']
test = test[['sequence', 'target']]
display(test)
print(len(test))

In [9]:
train.to_csv('clean/flip_protein_train.csv', index = False)
test.to_csv('clean/flip_protein_test.csv', index = False)
test

                                                 sequence    target
236     MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -2.027259
238     MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -0.527843
244     MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...  0.575730
245     MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -1.815227
469     MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -2.963171
...                                                   ...       ...
283981  MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -5.849527
283985  MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -4.170571
283988  MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -5.001588
284004  MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -5.896930
284007  MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV... -4.741973

[16517 rows x 2 columns]

In [8]:
train = pd.read_csv('clean/flip_protein_train.csv')
lengths = set([len(x) for x in list(train['sequence'])])
print(lengths)
print(min(lengths))
print(max(lengths))

{736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 734, 735}
734
749

# from avGFP dataset

In [18]:
ref = pd.read_csv('../clean_data/raw/avgfp/3102154/avGFP_reference_sequence.fa')
ref = str(list(ref.iloc[:,0])[0])
#print(ref)

# need to convert ref from nucleotide to AA
from Bio.Seq import Seq
ref = Seq(ref)
ref = ref.translate()
#print(ref)
print(len(ref))

muts = pd.read_csv('../clean_data/raw/avgfp/avgfp.tsv', sep = '\t')
new_seqs = []
scores = []
for var, score in zip(list(muts['variant']), list(muts['score_wt_norm'])):
    var_list = var.split(',')
    new_seq = str(ref) # copy
    for mut in var_list:
        
        init = mut[0]
        end = mut[-1]
        pos = int(mut[1:-1])
        old_aa = ref[pos]
        new_seq = new_seq[:pos] + end + new_seq[pos+1:]
        if str(init) != str(old_aa):
            print(mut)
            print('BAD')
            print(old_aa)
            print(init)
            print(int(pos))
    
    new_seqs.append(new_seq)
    scores.append(score)

newdf = pd.DataFrame()
newdf['sequence'] = new_seqs
newdf['target'] = scores
newdf.to_csv('clean/avgfp.csv')
newdf

238

                                                sequence    target
0      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.418182
1      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.418181
2      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.418023
3      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -0.010734
4      SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -0.136448
...                                                  ...       ...
54019  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.167122
54020  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.418182
54021  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.418182
54022  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.417695
54023  SKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKFI... -2.417082

[54024 rows x 2 columns]